.sidebar {
  display: flex;
  flex-direction: row;
  flex: 0 0 32.5%;
  background-color: coral;
  /* align-items: center; */
}

.marquee {
  padding: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: flex-end;
  /* box-sizing: border-box; */
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0%;
  height: 100vh;
}

.marquee p {
  margin-left: 0;
  animation: marquee 95s linear infinite;
}

@keyframes marquee {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: -725%;
  }
}

@keyframes slide {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.content-sidebar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.links__sidebar {
  /* display: flex; */
  border-radius: 50%;
  border: 1px solid rgb(214, 214, 214);
  overflow: hidden;
  right: -300px;
  align-items: center;
  /* animation: slide 15s linear infinite; */
}

.header {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.acrn {
  display: flex;
  flex: 0 0 20%;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom__title,
.bottom__subtitle,
.bottom__links {
  margin-bottom: 1rem;
}
