.sidebar {
  width: 32.5vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex: 0 0 32.5%;
  background-color: rgb(16, 15, 20);
  color: rgb(214, 214, 214);
}

.marquee {
  padding: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0%;
  height: 100vh;
  font-family: "Moonbase Alpha";
}

.marquee p {
  margin-left: 0;
  animation: marquee 90s linear infinite;
}

@keyframes marquee {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: -650%;
  }
}

@keyframes slide {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.content-sidebar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.links__sidebar {
  display: flex;
  flex: 1 1 0%;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  font-family: "Moonbase Alpha";
}

.links__sidebar__main {
  font-size: 2.4rem;
  text-decoration: none;
  border-bottom: 2px solid rgb(214, 214, 214);
  transition: opacity 0.3s ease 0s;
}

.links__sidebar__mid {
  color: rgb(241, 199, 3);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.links__sidebar::after {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 1px solid rgb(214, 214, 214);
  left: -100px;
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header__img {
  height: 3rem;
  padding-right: 1.5rem;
}

.title {
  color: rgb(214, 214, 214);
  height: fit-content;
  border-bottom: 2px solid rgb(214, 214, 214);
  text-transform: uppercase;
  font-weight: normal;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.7rem;
  align-self: center;
  margin-bottom: 1rem;
}

.acrn {
  display: flex;
  flex: 0 0 20%;
}

.bottom {
  font-family: Optima;
  font-weight: 600;
  font-size: 0.87rem;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
}

.bottom__title,
.bottom__subtitle {
  margin-bottom: 1rem;
}

.bottom__links {
  margin-bottom: 1.5rem;
}

.bottom__links__indiv {
  color: rgb(241, 199, 3);
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  padding-right: 0.2rem;
}

.bottom__title__ud {
  text-decoration: underline;
}
